---
hire: false
---
{{> head ~}}
<script async src="/public/js/liker.js"></script>
{{> header }}
<main role=main id=main>
  <article itemscope itemtype=http://data-vocabulary.org/Article class="article {{basename}}-page page">

    {{#if cover ~}}
    <header class="article-header cover-image" 
            style="background-image: url(http://storage.pburtchaell.com/{{cover}});">
    {{else}}
    <header class=article-header>
    {{/if}}
      <hgroup>
        <h1 class=article-title itemprop=name>{{page.title}}</h1>
        <time class=article-pubdate>{{date this.page.data.date}}</time>
      </hgroup>
    </header>

    <section class=article-content>
      {{#marked}}
        {{>body}}
      {{/marked}}
      <script>Echo.init();</script>
    </section>

    <aside>
      <span id=liker></span>
    </aside>

    <footer class=article-footer>
      <img class=article-author-img alt="Patrick Burtchaell" src=http://core.pburtchaell.com/images/patrick.jpg height=100px width=100px>
      <div class=article-author-info itemscope itemtype=http://data-vocabulary.org/Person itemprop=author>
      
        <h6 class="article-author-name rst">
          <small>Written By</small><br>
          <strong intemprop=name class=rst>
            {{#with author}}{{name.first}} {{name.last}}{{/with}}
          </strong>
        </h6>

        <p class=article-author-biography>
          <small>
              I am Patrick Burtchaell, a design and computer science student at Loyola University New Orleans and front end web developer at <a href=http://joinpeach.com rel=external target=_blank>Peach</a>.
              <hr>
              Connect on <a href="https://twitter.com/intent/user?screen_name={{author.twitter}}" title="Patrick Burtchaell on Twitter" class="line rst">Twitter</a> and on <a href="{{author.github}}" title="Patrick Burtchaell on GitHub" class="line rst">GitHub</span>
          </small>
        </p>

      </div>
    </footer>

  </article>
</main>
{{> footer }}
{{> script ~}}
