---
title: The Blog
shortName: blog
description: A collection of thoughts, research, and design by Patrick Burtchaell.  
layout: none
---
{{> open-inc ~}}
{{> header-inc}}
<main role=main id=main>
  <section class=article-feed>
    <h4 class=centered>2014</h4>
      {{#compose 'published/2014/*.hbs'}}
        <article class=article-item>
          <header class=article-item-header>
            <a href={{site.url}}/blog/{{pubYear}}/{{shortName}}/ rel=prefetch role=link class=line>
              <em><span class=article-item-title>{{title}}</span></em>
            </a>
            <time class=article-item-time>{{pubDate}}</time>
          </header>
        </article>
      {{/compose ~}}
      <h4 class=centered>2013</h4>
      {{#compose 'published/2013/*.hbs'}}
        <article class=article-item>
          <header class=article-item-header>
            <a href={{site.url}}/blog/{{pubYear}}/{{shortName}}/ rel=prefetch role=link class=line>
              <em><span class=article-item-title>{{title}}</span></em>
            </a>
            <time class=article-item-time>{{pubDate}}</time>
          </header>
        </article>
      {{/compose ~}}
  </section><!-- /article-feed -->
</main>
{{> footer-inc}}
{{> close-inc ~}}