---
title: The Blog
shortName: blog
description: A collection of thoughts, research, and design by Patrick Burtchaell.  
layout: layout-custom.hbs
---
<section class=article-feed>
  {{#compose 'published/*.hbs'}}
    <article class=article-item>
      <header class=article-item-header>
        <a href={{site.url}}/blog/{{pubYear}}/{{shortName}}/ rel=prefetch role=link class=line>
          <em><span class=article-item-title>{{title}}</span>
        </a>
        <time>{{pubDate}}</time></em>
      </header>
    </article>
  {{/compose ~}}
</section>
