{{> open-inc ~}}
<style>

</style>
{{> header-inc ~}}
<main role=main class="main blog page">

	<span class=article-banner>Currently reading <strong>{{page.title}}</strong></span>
    
	<picture class=article-freatured-image alt="{{ page.featuredimageAlt }}">
		<source srcset="big.jpg 1x, big-2x.jpg 2x, big-3x.jpg" type=image/jpeg media=(min-width: 40em)>
		<source srcset="med.jpg 1x, med-2x.jpg 2x, big-3x.jpg" type=image/jpeg>
		<img height=100% width=100% src="{{assets}}/{{ page.featuredImage }}" alt="{{ page.featuredImageAlt }}">
	</picture>
	
	<div class=wrapper>
		
		<article>
            
			<header class=article-header>
				<h1 class=article-title>{{ page.title }}</h1>
                {{#if page.description}}
                <h2 class=article-subtitle>{{ description }}</h2>
                {{/if ~}}
			</header><!-- /article-header -->
			
			<section class="hyphenate article-content">
				{{#markdown}}
				{{> body }}
				{{/markdown}}
                {{#if page.furtherReading}}
                <section class=article-futherReading>
                {{#if furtherReadingDescription}}
                {{#markdown}}
                {{furtherReadingDescription}}
                {{/markdown}}
                {{/if ~}}
                <ul>
                    {{#for each page.furtherReading}}
                    <li>{{#markdown}}{{ furtherReading }}{{/markdown}}
                    {{/for ~}}
                </ul>
                </section>
                {{/if ~}}
			</section><!-- /article-content -->
			
			<footer class=article-footer>
			
				<hr class=large>
				
                <div class=article-author-image>
                    <img src={{assets}}/{{ author.image }}>
                </div>
                
				<div class=article-author>
					<small><span>Written By</span>
					<h6>{{ author.nameFirst }} {{ author.nameLast }}</h6>
					<p class=article-author-bio>{{ author.bio }}<br> 
					<em><a href=http://twitter.com/{{ author.twitter }} class=line>Follow me on Twitter</a></em></p><br></small>
				</div><!-- /article-author -->
				
					<hr class=small>
				
				<div class=article-details>
					<small><em>Published <time datetime="" pubdate>{{ page.date }}</time></em><br>
                    {{#if page.contributor}}
					<b>Thanks To:</b><br>
					<ul class=article-contributors>
                        {{#for each page.contributor}}
                        <li><em>{{ page.contributor }}</em>
                        {{/for ~}}
					</ul>
                    {{/if ~}}
                    </small>
				</div><!-- /article detials -->
				
				<hr class=large>
				
			</footer><!-- /article-footer -->
			
			<aside class=article-aside>
				<small>Share <em>{{ page.title }}</em></small>
				<ul class=article-share>
					<li class=share-item><a class="twitter share"target=_blank href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url }}&via={{ author.twitter }}" class=button>Twitter</a>
					<li class=share-item><a class="facebook share" target=_blank href="http://www.facebook.com/sharer/sharer.php?u={{ page.url }}" class=button>Facebook</a>
					<li class=share-item><a class="google share" target=_blank href="https://plus.google.com/share?url={{ page.url }}" class=button>Google+</a>
				</ul>
			</aside><!-- /aside -->
			
			<section class=article-comments>
				 <div id=disqus_thread></div>
                    <script>
                        var disqus_shortname = 'pburtchaell';
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
			</section><!-- /article-comments -->
			
		</article>
		
	</div>
</main>
{{> footer-inc }}
{{> close-inc }}