{{> open-inc ~}}
{{> header-inc}}
<main role=main id=main>
  <article itemscope itemtype=http://data-vocabulary.org/Article class="article page">  
    <header class=article-header>
      <h1 class=article-title itemprop=name>{{page.title}}</h1>
      <time>{{pubDate}}</time>
      <div class=article-reading-time>
        <small>
          <span class=label-wordcount> words</span>
          <span class=label-reading-time> read</span>
        </small>
      </div>
    </header><!-- /article-header -->
    <section class="article-content hyphenate">
      {{#markdown}}
        {{> body }}
      {{/markdown ~}}
      <script>Echo.init();</script>
    </section><!-- /article-content -->
    <footer class=article-footer>
      <hr class=large>
      <div class=article-author-image>
        <img src={{assets}}/{{ author.image }} height=100px width=100px>
      </div>
      <div class=article-author itemscope itemtype=http://data-vocabulary.org/Person itemprop=author>
        <small>
          <span class=tag>Written By</span>
          <h6 intemprop=name>{{author.nameFirst}} {{author.nameLast}}</h6>
          <p class=article-author-bio><br>
            <span itemprop=affiliation>Freelance</span> <span itemprop=title>designer</span>
            <span itemscope itemprop=address itemtype=http://data-vocabulary.org/Address>
              from <span itemprop=locality>New Orleans</span> with a passion for creating beautiful means of communication in a digital world.
            </span> 
          </p><br>
        </small>
      </div><!-- /article-author -->
      <hr class=large>			
    </footer><!-- /article-footer -->
  </article><!-- /.article.page -->
</main><!-- /#main -->
{{> footer-inc}}
{{> close-inc ~}}