{{> open-inc ~}}
{{> header-inc}}
<main role=main id=main>
  <article itemscope itemtype=http://data-vocabulary.org/Article class="article page">  
    <header class=article-header>
      <h1 class=article-title itemprop=name>{{page.title}}</h1>
      <time>{{prettyDate this.page.data.date}}</time>
      <div class=article-reading-time>
        <small>
          <span class=label-wordcount> words</span>
          <span class=label-reading-time> read</span>
        </small>
      </div>
    </header><!-- /article-header -->
    <section class="article-content hyphenate">
      {{#markdown}}
        {{> body }}
      {{/markdown ~}}
      <script>Echo.init();</script>
    </section><!-- /article-content -->
    <footer class=article-footer>
      <hr class="large rst">
      <div class=article-author-image>
        <img src={{site.url}}/assets/img/site/patrick.jpg height=100px width=100px>
      </div>
      <div class=article-author itemscope itemtype=http://data-vocabulary.org/Person itemprop=author>
        <small>
          <span class=tag>Written By</span>
          <h6 intemprop=name>{{author.nameFirst}} {{author.nameLast}}&emsp;
            <a href={{author.twitter}} target=_blank>
              <svg xmlns=http://www.w3.org/2000/svg width=13px height=13px viewBox="0 0 16 16">
				<path fill="#55ACEE" d="M16,2.54c-0.589,0.262-1.222,0.438-1.886,0.517c0.678-0.406,1.198-1.049,
                  1.443-1.815c-0.634,0.376-1.337,0.649-2.084,0.796c-0.599-0.638-1.452-1.036-2.396-1.036c-1.812,
                  0-3.282,1.47-3.282,3.282c0,0.258,0.029,0.508,0.085,0.748c-2.728-0.137-5.147-1.443-6.766-3.43C0.832,2.087,
                  0.669,2.65,0.669,3.252c0,1.139,0.58,2.144,1.46,2.732c-0.538-0.017-1.044-0.165-1.487-0.41c0,0.014,
                  0,0.027,0,0.041c0,1.59,1.132,2.917,2.633,3.219C3,8.909,2.71,8.949,2.411,8.949c-0.211,
                  0-0.417-0.021-0.618-0.06c0.417,1.305,1.63,2.254,3.066,2.28c-1.124,0.88-2.539,1.405-4.077,1.405c-0.265,
                  0-0.526-0.016-0.783-0.046c1.453,0.931,3.178,1.475,5.032,1.475c6.038,0,9.339-5.002,
                  9.339-9.34c0-0.143-0.003-0.284-0.009-0.425C15.004,3.776,15.56,3.198,16,2.54z"/>
		      </svg>
            </a>
          </h6>
          <p class=article-author-bio><br>
            <span itemprop=affiliation>Freelance</span> <span itemprop=title>designer</span>
            <span itemscope itemprop=address itemtype=http://data-vocabulary.org/Address>
              from <span itemprop=locality>New Orleans</span> with a passion for creating beautiful means of communication in a digital world.
            </span> 
          </p><br>
        </small>
      </div><!-- /article-author -->
      <hr class="large rst">			
    </footer><!-- /article-footer -->
  </article><!-- /.article.page -->
  {{> hire }}
</main><!-- /#main -->
{{> footer-inc}}
{{> close-inc ~}}