---
layout: none
---

<section class="wrk-sct rst" id=availability data-color=dark>
  <div class=wrapper>
    <div class=work-availability>
      <h2>My Availability</h2>
      <small><h4><b>January&ndash;Decemeber 2014</b></h4></small>
      <ul class=available-months>
        <li class=month data-avail=false data-month=January>
        <li class=month data-avail=false data-month=February>
        <li class=month data-avail=false data-month=March>
        <li class=month data-avail=false data-month=April>
        <li class=month data-avail=false data-month=May>
        <li class=month data-avail=false data-month=June>
        <li class=month data-avail=false data-month=July>
        <li class=month data-avail=false data-month=August>
        <li class=month data-avail=true data-month=September>
        <li class=month data-avail=true data-month=October>
        <li class=month data-avail=true data-month=November>
        <li class=month data-avail=true data-month=December>
      </ul>
    </div>
  </div>
</section>

<section class=wrk-sct id=s1>
  <div class=wrapper>
    <div class="l-12 s-12 col">
    <p>I'm Patrick Burtchaell, a college student at Loyola University and freelance designer &amp; developer from New Orleans. I build and design products for the web and for print. From code, to layout, to video, I have experience in all forms of media content.</p>
    <p>Open to working with all and everything, my venture is about designing great products, working with others, meeting new people and teams, and gaining new experiences. Regardless of budget, time or location, get in touch and we shall see what we can do.</p>
    </div>
  </div>
</section><!-- /#introduction -->

<section class="wrk-sct" id=development data-color=red>
  <div class=wrapper>

    <h2>Front-End Development</h2>
    <p><b>I work with front-end development on projects of all sizes.</b>
      Whether it remote work or local gigs here in New Orleans, I can join your team to help with a special project or provide a code review; if you are a small business or startup, I can build and maintain your website, from start to finish.</p>
    <p>Specifically, I have skills in writing object-oriented, maintinable CSS and HTML, usually in LESS or Sass. I have experience in JavaScript and Node.js development. For an overview of my contributions to open-source, see GitHub.</p>

    <div class="l-6 s-12 col fade-in left">
      <h4>Code Review</h4>
      <p>Often times, when you are not sure if your project is going in the right direction, a code review is helpful.</p>
      <p>I can provide this service remotely and efficiently. Simply give me access to your codebase, two days to evaluate and review CSS and HTML, and within a third day I will have a complete document including suggestions, improvements, and examples; once you have read this document, I can schedule a video call to discuss any questions you might have.</p>
      <h1><b>$400</b> USD</h1>
      <h4 class=rst><small>Remote code review</small></h4>
    </div>

    <div class="l-6 s-12 col">
      <h4>Start a project</h4>
      <hr class="small ctr">
      <a href="&#x6d;&#x61;&#105;&#108;&#116;&#x6f;&#58;&#112;&#97;&#116;&#x72;&#x69;&#99;&#107;&#x40;&#112;&#98;&#117;&#x72;&#116;&#99;&#104;&#97;&#x65;&#x6c;&#x6c;&#x2e;&#x63;&#111;&#109;"
         class="btn btn-white">Contact me</a>
      {{!--<a href=# class="btn btn-white btn-border">Read more</a>--}}
      <hr class="small ctr">
      <i><b>Developers</b>: Interested in how the code I write actually looks? Check out my
      <a href=/styleguide class=line>code styleguide</a> and
      <a href={{author.github}} rel=external class=line>GitHub account</a>. The source code for this website is also up <a href={{author.github}}/site rel=source class=line>in a GitHub repository</a>. Enjoy.</i>
    </div>

  </div>
</section><!-- /#development -->

<section class=wrk-sct id=design data-color=green>
  <div class=wrapper>

    <div class="l-12 s-12 col">
      <h3>Design</h3>
      <p>Whether you have a small project or need an entire branding set and website designed, I would love to have an oppurtunity to work with you.</p>
    </div>

    <div class="l-6 s-12 col">
      <p>Doesn't matter if it is a complete branding set or just a business card, a brochure, or a magazine layout, I can design it for you; I am open to all design projects and ideas, both large and small. Contact me and we can talk.</p>
    </div>

    <div class="l-6 s-12 col">
      <h1>~<b>$50</b> USD/hr</h1>
      <h4 class=rst><small>Starting price</small></h4>
      <hr class="small ctr">
      {{!--<a href=#modal-print-design class="btn btn-border">Read more</a>--}}
    </div>

    <div class="l-6 s-12 col">
       {{!--<a href=#modal-print-design class="btn btn-border">Read more</a>--}}
      <a href="&#x6d;&#x61;&#105;&#108;&#116;&#x6f;&#58;&#112;&#97;&#116;&#x72;&#x69;&#99;&#107;&#x40;&#112;&#98;&#117;&#x72;&#116;&#99;&#104;&#97;&#x65;&#x6c;&#x6c;&#x2e;&#x63;&#111;&#109;"
         class="btn btn-white">Start a web project</a>
    </div>

  </div>
</section><!-- /#design -->

<section class="wrk-sct rst" id=connect data-color=blue>
  <div class=wrapper>
    <div class="l-4 s-12 col">
      <h4>News</h4><hr class="small ctr">
      <small><h4><b>Stay up to date</b></h4></small>
      <form action=http://pburtchaell.us4.list-manage1.com/subscribe/post?u=1cc8293b197ba2f09fc239b52&amp;id=20698d100d
            method=post id=mc-embedded-subscribe-form name=mc-embedded-subscribe-form class=validate target=_blank novalidate>
        <div class="mc-field-group">
          <input placeholder="Enter your email address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1cc8293b197ba2f09fc239b52_20698d100d" value=""></div>
        <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white btn-border">Submit</button></div>
      </form>
    </div>
    <div class="l-4 s-12 col">
      <h4>Recent Writings</h4><hr class="small ctr">
      {{!--{{#withSort post 'this.data.date'}}
      {{#each this.pages}}
      <article>
        <header>
          <a href="{{findURL this.dest 'dist/development' ''}}" rel=prefetch role=link class=line>
            <em><span>{{this.data.title}}</span></em><br>
          </a>
          <small><time>{{prettyDate this.page.data.date}}</time></small>
        </header>
      </article>
      {{/each ~}}
    {{/withSort ~}}--}}
      {{!-- #withSort is not working since the pages for the posts collection are not within the "assemble:pages" task. --}}
      <article>
        <a href="/2014/using-source-maps/" class=line><em>Using Source Maps</em></a><br>
        <small>March 26, 2014</small>
      </article>
      <article>
        <a href="/2014/a-better-way-to-use-font-face/" class=line><em>A Better Way to Use @font-face</em></a><br>
        <small>March 24, 2014</small>
      </article>
      <article>
        <a href="/2014/documentation-published/" class=line><em>Documentation Published</em></a><br>
        <small>March 3, 2014</small>
      </article>
    </div>
    <div class="l-4 s-12 col">
      <h4>Stay in touch</h4><hr class="small ctr">
      <small><h4><b>Because I like to talk</b></h4></small>
        <i>Drop a line via <a href="&#x6d;&#x61;&#105;&#108;&#116;&#x6f;&#58;&#112;&#97;&#116;&#x72;&#x69;&#99;&#107;&#x40;&#112;&#98;&#117;&#x72;&#116;&#99;&#104;&#97;&#x65;&#x6c;&#x6c;&#x2e;&#x63;&#111;&#109;" rel=author class=line>email</a> or follow me <a href={{author.twitter}} rel=external class=line>on Twitter</a>, if you are into that kind of thing. Try smoke flares when all else fails.</i>
    </div>
  </div>
  <span></span>
</section>  

<button ng-click='toggleModal()'>Open Modal Dialog</button>

<modal-dialog show='modalShown' width='750px' height='60%' dialog-title="Design Information">
  <p>Modal Content Goes here<p>
</modal-dialog>

