---
layout: none
---

<section class="portfolio-page portfolio-page--current" ng-animate-children>

  	<template id=project-title>
  		<style>
  			:host {

  			}
  		</style>
  		<hrgroup class=project-page--hrgroup>
		    <h1 class=project-page--title data-ng-animate data-ng-if="on">\{{project.title}}</h1>
        <h2 class=portfolio-page--description>
		  </hrgroup>
  	</template>

	<header class="portfolio-page--header" data-type=\{{project.type}}>
		<hrgroup class=portfolio-page--hrgroup>
		  <h1 class=portfolio-page--title>\{{project.title}}</h1>
			
		</hrgroup>
	</header>

	<section class=page-content>
		<div class=wrapper>
			\{{project.body}}
		</div>
	</section> 

	<aside>
		<!--<div class=wrapper>
			<ul>
				<li>Type: \{{project.type}}
				<li>
				<li>
			</ul>  
		</div>-->
	</aside> 

	<footer class=portfolio-page--footer>

	</footer>

  <section class="portfolio-page portfolio-page--next" data-ng-click="load()">
    <header>
      <h1>More</h1>
      <hr class=ctr>
      <a href="#/projects/id/\{{next}}">See</span>
    </header>
  </section>

</section>
