---
title: Connect
shortName: connect
---
I share my design work at <a href={{author.dribbble}}>Dribbble</a> and <a href={{author.behance}}>Behanc&eacute;</a>. My video work can be found on <a href={{author.vimeo}}>Vimeo</a> and I often share photos on <a href={{author.exposure}}>Exposure</a> and <a href={{author.vsco}}>VSCO Grid</a>. My audio work can be found on <a href={{author.soundcloud}}>Soundcloud</a> and I share code on <a href={{author.github}}>Github</a>, <a href={{author.codewall}}>Codewall</a>, &amp; <a href={{author.codepen}}>Codepen</a>.