---
title: Connect
shortName: connect
---
<div class=wrapper>    
    <ul class="design pretty-list">
        <h3>Design</h3>
        <li><a href={{site.url}}/work>Portfolio</a>
        <li><a href={{author.dribbble}}>Dribbble</a>
        <li><a href={{author.behance}}>Behanc&eacute;</a>
    </ul>
    
    <ul class="video pretty-list">
        <h3>Video &amp; Photography</h3>
        <li><a href={{author.vimeo}}>Vimeo</a>
        <li><a href={{author.exposure}}>Exposure</a>
        <li><a href={{author.vsco}}>VSCO Grid</a>
    </ul>
    
    <ul class="audio pretty-list">
        <h3>Audio</h3>
        <li><a href={{author.soundclound}}>Soundcloud</a>
    </ul>
    
    <ul class="pretty-list">
        <h3>Development</h3>
        <li><a href={{author.github}}>Github</a>
        <li><a href={{author.codewall}}>Codewall</a>
        <li><a href={{author.codepen}}>Codepen</a>
    </ul>
</div>