---
published: true
title: Design + Video + Audio from New Orleans

shortname: home
description: User interface designer and videographer from New Orleans. 

layout: none
posts: ['src/posts/2013_05_*.md.hbs']
---

{{> open-inc }}
{{> header-inc }}
<main role=main class="home page main">
	
	<section class=home-title>
		<div class=wrapper>
			<h1 class=home-title-heading>{{ author.name.first }} {{ author.name.last }}</h1>
			<p class=home-title-subheading>{{ home.subtitle }}</p>
		</div>
	</section><!-- /index-title -->
	
	<section class=home-feed>
			
			<article class=featured-content>
				<a href={{ site.url }}/blog/2013sss.html><picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/1.jpg" height=auto width=100 alt="">
				</picture></a>
				<header class=featured-content-header>
					<h3>Fucking awesome article title</h3>
				</header>
				<section class=featured-content-section>
					<small>Why Medium Should Not Exist and Subvtl should take over.</small>
				</section>
				<footer class=featured-content-footer>
					<small>Published <time class=featured-content-date datetime="" pubdate>November 30, 2013</time></small>
				</footer>
			</article><!-- /featured-content -->
			
			<article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/blog/2013/12-01-13_small.jpg"></src>
					<src class=image-large href="{{ assets }}/img/blog/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/2.jpg" height=auto width=100 alt="">
				</picture>
				<header class=featured-content-header>
					<h3>Damn straight this is good</h3>
				</header>
				<section class=featured-content-section>
					<small>My content is great. yes it is. This is why.</small>
				</section>
				<footer class=featured-content-footer>
					<small>Published <time class=featured-content-date datetime="" pubdate>December 1, 2013</time></small>
				</footer>
			</article><!-- /featured-content -->
			
			<article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<header class=featured-content-header>
					<h3>testing 1</h3>
				</header>
				<section class=featured-content-section>
					<small>Content 2</small>
				</section>
				<footer class=featured-content-footer>
					<small>Published <time class=featured-content-date datetime="" pubdate>December 4, 2013</time></small>
				</footer>
			</article><!-- /featured-content -->
		
	</section><!-- /index-feed -->
	
	<!--<section class=home-dribbble>
		
		<article class="featured-content dribbble">
			<picture class=featured-content-image>
				<src class=image-small href="{{ assets }}/img/2013"></src>
				<src class=image-large href="{{ assets }}/img/2013"></src>
				<img class=image-fallback src="{{ assets }}/img/tmp/4.jpg" height=auto width=100 alt="">
			</picture>
			<header class=featured-content-header>
				<h3>My Dribbble</h3>
			</header>
		</article>
		
		<article class="featured-content dribbble">
			<picture class=featured-content-image>
				<src class=image-small href="{{ assets }}/img/2013"></src>
				<src class=image-large href="{{ assets }}/img/2013"></src>
				<img class=image-fallback src="{{ assets }}/img/tmp/4.jpg" height=auto width=100 alt="">
			</picture>
			<header class=featured-content-header>
				<h3>My Dribbble</h3>
			</header>
		</article>
		
		<script src={{ assets }}/js/dribbble.js></script>
		<script>
			var callback = function (playerShots) {
			var html = '';
			document.querySelector('h2 b').textContent = playerShots.shots[0].player.name;
			playerShots.shots.forEach(function (shot) {
				html += '<article class="featured-content dribbble"><a href=' + shot.url + '>';
				html += '<picture class=featured-content-image><img class=image-fallback src=' + shot.image_url + '></picture>';
				html += '<header class=featured-content-header><h3>' + shot.title + '</h3></header></a></article>'; });
			document.getElementById('shotsByPlayerId').innerHTML = html;};
			jribbble.getShotsByPlayerId('tykoe', callback, {page: 1, per_page: 8});
		</script>
		
	</section>--><!-- /home-dribble -->
	
	<section class=index-about>
		<div class=wrapper>
			<object class=goodletter><svg x=0 y=0 width=200px height=200px viewBox="0 0 200 200"><g><g><g><path fill="rgb(70,72,74)" d="M100,172.9570313c-40.2285156,0-72.9570313-32.7285156-72.9570313-72.9570313 S59.7714844,27.0429688,100,27.0429688S172.9570313,59.7714844,172.9570313,100S140.2285156,172.9570313,100,172.9570313z"/><path fill="#B3FFC6" d="M100,32.0429688c37.4716797,0,67.9570313,30.4853516,67.9570313,67.9570313 S137.4716797,167.9570313,100,167.9570313S32.0429688,137.4716797,32.0429688,100S62.5283203,32.0429688,100,32.0429688 M100,22.0429688c-43.0537109,0-77.9570313,34.9023438-77.9570313,77.9570313 c0,43.0537109,34.9033203,77.9570313,77.9570313,77.9570313c43.0546875,0,77.9570313-34.9033203,77.9570313-77.9570313 C177.9570313,56.9453125,143.0546875,22.0429688,100,22.0429688L100,22.0429688z"/></g><g><path fill="#B3FFC6" d="M141.0683594,64.7841797c-10.0341797-9.8681641-24.0146484-14.8027344-37.0078125-14.8027344 c-33.7207031,0-50.9912109,24.6728516-50.8291016,51.3193359c0,27.1396484,17.2714844,50.4960938,50.8291016,50.4960938 c12.3339844,0,25.1660156-4.2753906,35.0351563-13.3232422v-32.2382813H98.9609375v-7.7304688h48.5224609v43.0947266 c-12.0078125,12.0068359-26.3173828,18.5869141-43.4228516,18.5869141 c-39.1503906,0-59.3798828-27.3046875-59.3798828-58.7216797C44.5146484,65.4433594,69.0224609,41.921875,104.0605469,41.921875 c15.1318359,0,30.4296875,5.7558594,42.1083984,17.2714844L141.0683594,64.7841797z"/></g></g></g></svg></object>
			<h4>The Goodletter</h4>
			<p>a newletter on technology and design <br> sent once a month from yours truly</p>
			<form>
				<input type=email autocomplete=on placeholder="Type in your email and press enter">
				<small>Don't worrry; I respect your infomation.</small>
			</form>
		</div>
	</section><!--- /index-about -->
	
</main>
{{> footer-inc }}
{{> close-inc }}