---
title: Home
shortName: home
description: An online repository for essays, article, documents, and work from New Orleans designer and videographer, Patrick Burtchaell.
layout: none
---
{{> open-inc ~}}
{{> header-inc}}
<main role=main id=main>
  <section class=article-feed>
    <h1 class=title>Patrick Burtchaell</h1>
    <h6 class=subtitle>Designer + Videographer</h6>
    <h4 class=centered>2014</h4>
      {{#compose 'published/2014/*.hbs'}}
        <article class=article-item>
          <header class=article-item-header>
            <a href={{site.url}}/blog/{{pubYear}}/{{shortName}}/ rel=prefetch role=link class=line>
              <em><span class=article-item-title>{{title}}</span></em>
            </a>
            <small><time class=article-item-time>{{pubDate}}</time></small>
          </header>
        </article>
      {{/compose ~}}
      <h4 class=centered>2013</h4>
      {{#compose 'published/2013/*.hbs'}}
        <article class=article-item>
          <header class=article-item-header>
            <a href={{site.url}}/blog/{{pubYear}}/{{shortName}}/ rel=prefetch role=link class=line>
              <em><span class=article-item-title>{{title}}</span></em>
            </a>
            <small><time class=article-item-time>{{pubDate}}</time></small>
          </header>
        </article>
      {{/compose ~}}
  </section><!-- /article-feed -->
</main>
{{> footer-inc}}
{{> close-inc ~}}