---
title: Design + Video + Audio from New Orleans
shortName: blog
description: A collection of thoughts, research, and design by Patrick Burtchaell.  
layout: layout-custom.hbs
---
<section class=article-feed>
  {{#compose 'published/*.hbs'}}
    <article class=article-item>
      <header class=article-item-header>
        <em>
          <span class=article-item-title>
            <a href={{site.url}}/blog/{{pubYear}}/{{shortName}}/ rel=prefetch role=link class=line>{{title}}</a>
          </span>
          <time class=article-item-time>{{pubDate}}</time>
        </em>
      </header>
    </article>
  {{/compose ~}}
</section>