---
published: true
title: About

shortname: about
description: User interface designer and videographer from New Orleans. 

layout: none
---

{{> open-inc }}
{{> header-inc }}
<main role="main" class="about page">
	<section class="biography">
		<div class="wrapper">
			<p>I am a freelance designer and videographer from New Orleans with a passion for iced coffee, good music, and pixel-perfection.</p>
			<p>With a huge amount of motivation and experience, I push the creative and the technical to max. With every project, I believe that practical integration of the two, along with thoughtful content, will produce powerful products with the ability to inform and inspire its consumers. In the end, that is what I produce everything for: human interaction. It does not matter if it is video or audio or design, I always believe a project must perform well, look good, and be practical and easy for consumers to use or digest. </p>
			<p>You can connect with me on 
				<a href="{{ site.author.dribbble }}" class="line white">Dribbble</a>, 
				<a href="{{ site.author.behance }}" class="line white">Behance</a>, 
				<a href="{{ site.author.github }}" class="line white">Github</a>, and -of course- 
				<a href="http://twitter.com/{{ site.author.twitter }}" class="line white">Twitter</a>.</p>
		</div>
	</section>
	<section class="service design">
		<div class="wrapper">
			<h3>No. 1 - Design</h3>
			<p>Designing is my greatest passion. Over the past few years, I have developed a love for the objectified skill of graphic design. I apply this passion toward the web. I believe that the "old age" art of finely tuned grids and good typography can be used on the modern web.</p>
		</div>
	</section>
	<section class="service video">
		<div class="wrapper">
			<h3>No. 2 -Video</h3>
			<p>At the the New Orleans Center for Creative Arts (NOCCA) I studied Media Arts for four years, from 2010 to 2014. I will graduate as the old level four student. As a media arts student I recieved industry standard training in film production, inlcuding: screenwriting, cinematography/camera operation, color grading, editing, and  all other aspecs of film. As a NOCCA student I have shot eight personal films, worked as a production assistant on local shoots, a camera operator for local TV, and recently the TEDx conference video crew.</p>
		</div>
	</section>
	<section class="service audio">
		<div class="wrapper">
			<h3>No. 3 -Audio</h3>
			<p>In addition to studing video production at NOCCA, I also study audio engineering: including enginnering and mixing and mastering. In 2012 I reccorded three hours of studio and two hours of live audio. In 2013, I have reccorded nearly two hours of live and one hour of studio.</p>
		</div>
	</section>
		<!--<section class="resources">
		<div class="wrapper">
			<h3>Resources</h3>
			<p>I have published several resources, some are on my site, others are on Github:</p>
			<ul class="circle">
				<li><a href="{{ site.url }}/styleguide" class="line">Styleguide</a> - My personal styleguide and code specifcations</li>
				<li><a href="{{ site.url }}/colophony" class="line">Colophony</a> - Everything about my site</li>
				<li><a href="{{ site.url }}/blog/2013/building-my-site" class="line">Building My Site</a> - How I built my site </li>
				<li><a href="{{ site.author.github }}/html-reset" class="line">HTML5 Reset</a> - My personal HTML5 reset, based off Normalize.css</li>
			</ul>
		</div>
	</section>-->
</main>
{{> footer-inc }}
{{> close-inc }}