<ul class=social-media>
	<li class=social-network><a href=http://twitter.com/{{ author.twitter }} rel=nofollow><object class=twitter></object></a>
	<li class=social-network><a href={{ author.dribbble }} rel=nofollow><object class=dribbble></object></a>
	<li class=social-network><a href={{ author.behance }} rel=nofollow><object class=behance></object></a>
	<li class=social-network><a href={{ author.github }} rel=nofollow><object class=github></object></a>
	<li class=social-network><a href={{ author.codewall }} rel=nofollow><object class=codewall></object></a>
	<li class=social-network><a href={{ author.linkedin }} rel=nofollow><object class=linkedin></object></a>		
</ul>