</head>
<body class=flex-layout>
<header class=page-header>
  <noscript>
    <div class=noscript>
      <small>
        In order to have the best experience of my site, please enable JavaScript. 
        <em>If you don't</em>, comments, navigation, and search will not operate. *sadface*
      </small>
    </div>
  </noscript>
  <a href={{site.url}}>
    <object class=branding>
      <svg x=0 y=0 width=75px height=54.744px viewBox="0 0 75 54.744">
        <path fill=rgb(0,218,255) 
              d="M56.144,31.954l4.565,4.564l-4.565,4.565l-4.565-4.565L56.144,31.954 M56.144,
                 18.665 L38.29,36.519l17.854,17.854l17.854-17.854L56.144,18.665L56.144,18.665z"/>
        <path fill=rgb(179,255,198) 
              d="M37.509,13.66l4.565,4.565l-4.565,4.565l-4.565-4.565L37.509,13.66 M37.509,
                 0.372 L19.655,18.226l17.854,17.854l17.853-17.854L37.509,0.372L37.509,0.372z"/>
        <path fill=rgb(230,84,87) 
              d="M18.856,31.954l4.565,4.564l-4.565,4.565l-4.565-4.565L18.856,31.954 M18.856,
                 18.665 L1.003,36.519l17.854,17.854L36.71,36.519L18.856,18.665L18.856,18.665z"/>
      </svg>
    </object>
  </a>
  <nav class=nav-collapse role=navigation>
    <ul class="nav-items left">
      <li class=nav-item><a href={{site.url}} class=blog>Blog</a>
      <li class=nav-item><a href={{site.url}}/about>About</a>
    </ul>
    <ul class="nav-items right">
      <li class=nav-item><a href={{site.url}}/connect>Connect</a>
      <li class=nav-item><a href={{site.url}}/work>Work</a>
    </ul>
    <script>
      var header = document.querySelector("header");  
      var headroom = new Headroom(header); headroom.init();  
      var navigation = responsiveNav(".nav-collapse");
    </script>
  </nav>
</header><!-- /page-header -->