---
published: false
title: Design + Video + Audio from New Orleans
shortName: index
---

<section class=home-feed>
    
			<article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<section class=featured-content-section>
                    <header class=featured-content-header>
					   <h3>testing 1</h3>
				    </header>
					<small>Content 2</small>
				</section>
			</article><!-- /featured-content -->
			
			<article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<section class=featured-content-section>
                    <header class=featured-content-header>
					   <h3>testing 1</h3>
				    </header>
					<small>Content 2</small>
				</section>
			</article><!-- /featured-content -->
			
			<article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<section class=featured-content-section>
                    <header class=featured-content-header>
					   <h3>testing 1</h3>
				    </header>
					<small>Content 2</small>
				</section>
			</article><!-- /featured-content -->
        
           <article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<section class=featured-content-section>
                    <header class=featured-content-header>
					   <h3>testing 1</h3>
				    </header>
					<small>Content 2</small>
				</section>
			</article><!-- /featured-content -->
        
            <article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<section class=featured-content-section>
                    <header class=featured-content-header>
					   <h3>testing 1</h3>
				    </header>
					<small>Content 2</small>
				</section>
			</article><!-- /featured-content -->
			
			<article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<section class=featured-content-section>
                    <header class=featured-content-header>
					   <h3>testing 1</h3>
				    </header>
					<small>Content 2</small>
				</section>
			</article><!-- /featured-content -->
			
			<article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<section class=featured-content-section>
                    <header class=featured-content-header>
					   <h3>testing 1</h3>
				    </header>
					<small>Content 2</small>
				</section>
			</article><!-- /featured-content -->
        
           <article class=featured-content>
				<picture class=featured-content-image>
					<src class=image-small href="{{ assets }}/img/2013"></src>
					<src class=image-large href="{{ assets }}/img/2013"></src>
					<img class=image-fallback src="{{ assets }}/img/tmp/3.jpg" height=auto width=100 alt="">
				</picture>
				<section class=featured-content-section>
                    <header class=featured-content-header>
					   <h3>testing 1</h3>
				    </header>
					<small>Content 2</small>
				</section>
			</article><!-- /featured-content -->
		
	</section><!-- /index-feed -->
	
	<!--<section class=home-dribbble>
		
		<article class="featured-content dribbble">
			<picture class=featured-content-image>
				<src class=image-small href="{{ assets }}/img/2013"></src>
				<src class=image-large href="{{ assets }}/img/2013"></src>
				<img class=image-fallback src="{{ assets }}/img/tmp/4.jpg" height=auto width=100 alt="">
			</picture>
			<header class=featured-content-header>
				<h3>My Dribbble</h3>
			</header>
		</article>
		
		<article class="featured-content dribbble">
			<picture class=featured-content-image>
				<src class=image-small href="{{ assets }}/img/2013"></src>
				<src class=image-large href="{{ assets }}/img/2013"></src>
				<img class=image-fallback src="{{ assets }}/img/tmp/4.jpg" height=auto width=100 alt="">
			</picture>
			<header class=featured-content-header>
				<h3>My Dribbble</h3>
			</header>
		</article>
		
		<script src={{ assets }}/js/dribbble.js></script>
		<script>
			var callback = function (playerShots) {
			var html = '';
			document.querySelector('h2 b').textContent = playerShots.shots[0].player.name;
			playerShots.shots.forEach(function (shot) {
				html += '<article class="featured-content dribbble"><a href=' + shot.url + '>';
				html += '<picture class=featured-content-image><img class=image-fallback src=' + shot.image_url + '></picture>';
				html += '<header class=featured-content-header><h3>' + shot.title + '</h3></header></a></article>'; });
			document.getElementById('shotsByPlayerId').innerHTML = html;};
			jribbble.getShotsByPlayerId('tykoe', callback, {page: 1, per_page: 8});
		</script>
		
	</section>--><!-- /home-dribble -->