---
title: Work With Me
shortName: work
layout: none
work: true
---
{{> open-inc }}
<!--
  Checking out the source code? That's awesome!
  You are just the kind of person I'd enjoy to working with.
  PS: This site is open-sourced at http://github.com/pburtchaell/site. Enjoy it; code your heart out.
-->
<script src=/assets/js/work.js></script>
{{> header-inc }}
<main role=main class="page page-work">

  <header class="portfolio-item--header">
    <div class=header-content>
      <h1 class=rst><b>Work With Me</b></h1>
      <h4 class=rst>Design + Development from<br><b>New Orleans, Louisiana</b></h4>
      <a class=down-arrow href=#introduction rel=next data-menu-top=100p>
        <svg version=1.1 x=0 y=0 width=50px height=50px viewBox="0 0 50 50" enable-background="new 0 0 50 50">
          <path d="M25,50c13.807,0,25-11.193,25-25S38.807,0,25,0C11.193,0,0,11.193,0,25C0,38.807,11.193,50,25,50z
             M10.18,16.883c0.39-0.391,0.902-0.586,1.414-0.586s1.024,0.195,1.414,0.586L25,28.874l11.992-11.991
             c0.78-0.781,2.048-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L25,34.531l-14.82-14.82C9.399,
               18.93,9.399,17.664,10.18,16.883z"/>
        </svg>
      </a>
    </div>
    <div class="portfolio-item--cover work">
      <ul class="clouds rst">
        <li class="cloud rst">
        <li class="cloud rst">
      </ul>
      {{!-- <img src=/assets/img/site/loader/green.svg data-src="{{site.url}}/assets/img/site/work/2.jpg" >--}}
    </div>
  </header>

  <section class=wrk-sct id=introduction>
    <div class=wrapper>
      <div class="l-12 s-12 col">
        <img src=/assets/img/site/patrick.jpg height=100px width=100px class=img-portrait>
      </div>
      <div class="l-12 s-12 col">
      <p>I'm Patrick Burtchaell, a freelance designer from New Orleans. I build and design products for the web and for print. From code, to layout, to video, I have experience in all forms of media content. Learn more
        <a href=/about class=line>about me</a>.
        {{!--Want to learn more about me?
        <b>Check out <a href=/about class=line> my about page</a>,
        <a href=/resume.pdf class=line>resum&eacute;</a>, and
        <a href={{author.github}}/ccv class=line rel=external>CCV</a>.</b>--}}</p>
      <p>Open to working with all and everything, my venture is about designing great products, working with others, meeting new people and teams, and gaining new experiences. Regardless of budget, time or location, get in touch and we shall see what we can do.</p>
      </div>
    </div>
  </section><!-- /#introduction -->

    <div class=wrk-sct-divider>
      <div class=wrapper>
        <strong><h1 class=divider-title>Development</h1></strong>
        <h2 class=divider-subtitle>Professional CSS Architecture</h2>
      </div>
    </div>

  <section class=wrk-sct id=development data-color=red>
    <div class=wrapper>
      <p><b>I have worked with CSS and HTML development on projects of all sizes.</b>
        I can join your team to help with a special project, work remotely for you, provide a code review, or if you are a small business, I can build you a website.</p>
      <div class="l-6 s-12 col fade-in left">
        <h4>Code Review</h4>
        <p>Often times when you are not sure if your project is going in the right direction, a code review is helpful.</p>
        <p>I can provide this service remotely and efficiently. Simply give me access to your codebase, two days to evaluate and review CSS and HTML, and within a third day I will have a complete document including suggestions, improvements, and examples; once you have read this document, I can schedule a video call to discuss any questions you might have.</p>
        <h1><b>$400</b> USD</h1>
        <h4 class=rst><small>Remote code review</small></h4>
      </div>
      <div class="l-6 s-12 col">
        <h4>Start a development project</h4>
        <hr class="small ctr">
        <a href="&#x6d;&#x61;&#105;&#108;&#116;&#x6f;&#58;&#112;&#97;&#116;&#x72;&#x69;&#99;&#107;&#x40;&#112;&#98;&#117;&#x72;&#116;&#99;&#104;&#97;&#x65;&#x6c;&#x6c;&#x2e;&#x63;&#111;&#109;"
           class="btn btn-white">Contact me</a>
        {{!--<a href=# class="btn btn-white btn-border">Read more</a>--}}
        <hr class="small ctr">
        <i><b>Developers</b>: Interested in how the code I write actually looks? Check out my
        <a href=/styleguide class=line>code styleguide</a> and
        <a href={{author.github}} rel=external class=line>Github account</a>. The source code for this website is also up <a href={{author.github}}/site rel=source class=line>in a Github repository</a>. Enjoy.</i>
      </div>
    </div>
  </section><!-- /#development -->

    <div class=wrk-sct-divider>
      <div class=wrapper>
        <strong><h1 class=divider-title>Design</h1></strong>
        <h2 class=divider-subtitle>Web + Print</h2>
      </div>
    </div>

  <section class=wrk-sct id=design data-color=green>
    <div class=wrapper>

      <div class="l-12 s-12 col">
        <p>Whether you have a small project or need an entire branding set and website designed, I would love to have an oppurtunity to work with you.</p>
      </div>

      <div class="l-6 s-12 col">
        <h4>Print</h4>
        <p>Doesn't matter if it is a complete branding set or just a business card, a brochure, or a magazine layout, I can design it for you; I am open to all design projects and ideas, both large and small. Contact me and we can talk.</p>
      </div>

      <div class="l-6 s-12 col">
        <h4>Start a design project</h4>
        <h1>~<b>$25</b> USD/hr</h1>
        <h4 class=rst><small>Starting price</small></h4>
        <hr class="small ctr">
        {{!--<a href=#modal-print-design class="btn btn-border">Read more</a>--}}
      </div>

      <div class="l-12 s-12 col">
        <h4>Web</h4>
        <p>It is important that a professional designer and developer makes you a product that will appear great and perform well. Contact me with your idea, I will discuss the price and send a contract; within a few weeks, I can have a completely launched site for you.</p>
      </div>

      <div class="l-6 s-12 col">
        <h1><b>$325</b> USD</h1>
        <h4 class=rst><small>Starting price</small></h4>
        <hr class="small ctr">
      </div>

      <div class="l-6 s-12 col">
         {{!--<a href=#modal-print-design class="btn btn-border">Read more</a>--}}
        <a href="&#x6d;&#x61;&#105;&#108;&#116;&#x6f;&#58;&#112;&#97;&#116;&#x72;&#x69;&#99;&#107;&#x40;&#112;&#98;&#117;&#x72;&#116;&#99;&#104;&#97;&#x65;&#x6c;&#x6c;&#x2e;&#x63;&#111;&#109;"
           class="btn btn-white">Start a web project</a>
      </div>

    </div>
  </section><!-- /#design -->

  <section class="wrk-sct rst" id=availability data-color=dark>
    <div class=wrapper>
      <div class=work-availability>
        <h2>Availability</h2>
        <small><h4><b>January&ndash;Decemeber 2014</b></h4></small>
        <ul class=available-months>
          <li class=month data-avail=false data-month=January>
          <li class=month data-avail=false data-month=February>
          <li class=month data-avail=false data-month=March>
          <li class=month data-avail=false data-month=April>
          <li class=month data-avail=true data-month=May>
          <li class=month data-avail=null data-month=June>
          <li class=month data-avail=null data-month=July>
          <li class=month data-avail=null data-month=August>
          <li class=month data-avail=true data-month=September>
          <li class=month data-avail=true data-month=October>
          <li class=month data-avail=true data-month=November>
          <li class=month data-avail=true data-month=December>
        </ul>
      </div>
    </div>
  </section>

  <section class="wrk-sct rst" id=connect data-color=blue>
    <div class=wrapper>
      <div class="l-4 s-12 col">
        <h4>News</h4><hr class="small ctr">
        <small><h4><b>Stay up to date</b></h4></small>
        <form action=http://pburtchaell.us4.list-manage1.com/subscribe/post?u=1cc8293b197ba2f09fc239b52&amp;id=20698d100d
              method=post id=mc-embedded-subscribe-form name=mc-embedded-subscribe-form class=validate target=_blank novalidate>
          <div class="mc-field-group">
            <input placeholder="Enter your email address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_1cc8293b197ba2f09fc239b52_20698d100d" value=""></div>
          <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white btn-border">Submit</button></div>
        </form>
      </div>
      <div class="l-4 s-12 col">
        <h4>Recent Writings</h4><hr class="small ctr">
        {{!--{{#withSort post 'this.data.date'}}
        {{#each this.pages}}
        <article>
          <header>
            <a href="{{findURL this.dest 'dist/development' ''}}" rel=prefetch role=link class=line>
              <em><span>{{this.data.title}}</span></em><br>
            </a>
            <small><time>{{prettyDate this.page.data.date}}</time></small>
          </header>
        </article>
        {{/each ~}}
      {{/withSort ~}}--}}
        {{!-- #withSort is not working since the pages for the posts collection are not within the "assemble:pages" task. --}}
        <article>
          <a href="/2014/using-source-maps/" class=line><em>Using Source Maps</em></a><br>
          <small>March 26, 2014</small>
        </article>
        <article>
          <a href="/2014/a-better-way-to-use-font-face/" class=line><em>A Better Way to Use @font-face</em></a><br>
          <small>March 24, 2014</small>
        </article>
        <article>
          <a href="/2014/documentation-published/" class=line><em>Documentation Published</em></a><br>
          <small>March 3, 2014</small>
        </article>
      </div>
      <div class="l-4 s-12 col">
        <h4>Stay in touch</h4><hr class="small ctr">
        <small><h4><b>Because I like to talk</b></h4></small>
          <i>Drop a line via
          <a href="&#x6d;&#x61;&#105;&#108;&#116;&#x6f;&#58;&#112;&#97;&#116;&#x72;&#x69;&#99;&#107;&#x40;&#112;&#98;&#117;&#x72;&#116;&#99;&#104;&#97;&#x65;&#x6c;&#x6c;&#x2e;&#x63;&#111;&#109;"
             rel=author class=line>email</a> or follow me
          <a href={{author.twitter}} rel=external class=line>on Twitter</a>, if you are into that kind of thing.
          Try smoke flares when all else fails.</i>
      </div>
    </div>
    <span></span>
  </section>

</main>
{{> footer-inc }}
<script src=/assets/js/skrollr.js></script>
{{> close-inc }}
