<title>{{page.title}} - {{site.title}}</title>
<meta name=description content="{{#if page.description}}{{page.description}}{{else}}{{site.description}}{{/if}}">
<meta name=keywords content="{{#if page.keywords}}{{page.keywords}}{{else}}{{site.keywords}}{{/if ~}}">
<meta name=author content="{{author.name.first}} {{author.name.last}}">
<meta name=google-site-verification content=7RrfJovl477GocUkq4QOPIybas99RN2zebN46jgN_Lo>
<meta name=format-detection content="telephone=yes">
<meta name=apple-mobile-web-app-title content="{{site.title}}">